/* @font-face {
    font-family: "BlogScript";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/app/themes/daeristwo/dist/fonts/BlogScript/blog-script.otf") format("opentype");
    font-feature-settings: 'pnum' on, 'lnum' on;
} */