

.stretched-link {
    &::after {
        content: "";
        @apply pointer-events-auto absolute inset-0 z-10 bg-transparent;
    }
}

.tab {
    @apply relative transition-colors;
    &:before {
        content: "";
        @apply absolute top-1/2 left-1/2 block w-full translate-y-4 -translate-x-1/2 rounded-full bg-primary opacity-0 transition-all;
        height: 2px;
    }
    &:focus,
    &:hover,
    &.current-menu-parent,
    &.is-active {
        @apply text-base;
        &:before {
            @apply opacity-100 translate-y-3;
        }
    }
}

.card {
    @apply rounded-lg border border-gray-100 bg-white;
}

.loader {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
}
.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 2px solid currentColor;
    animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}
