@import "form.css";

@layer components {
    .row {
        @apply -mx-4 flex flex-row flex-wrap;
    }
    .col {
        @apply w-full px-4;
    }

    .link {
        @apply relative inline-flex items-center space-x-1 text-sm font-bold text-primary hover:text-primary;
        line-height: 1.375rem;
    }

    .btn-base { 
        @apply inline-flex cursor-pointer items-center space-x-3 rounded-full border py-[15px] px-[30px] text-center  font-medium leading-5 transition-colors;
    }

    .btn {
        @apply btn-base border-primary bg-primary text-white  hover:border-primary hover:bg-primary;
    }

    .btn-primary {
        @apply btn border-primary bg-primary text-white hover:border-primary hover:bg-primary hover:text-white;
    }

    .btn-primary-light {
        @apply btn-base border-white bg-white text-primary hover:bg-gray-200;
    }

    .btn-primary-outline {
        @apply btn-base border-primary bg-transparent text-primary hover:bg-primary hover:text-white;
    }

    .btn-secondary {
        @apply btn-base border-primary bg-white text-primary hover:border-primary hover:bg-primary hover:text-white;
    }

    .btn-secondary-light {
        @apply btn-base border-white bg-transparent text-white hover:bg-white hover:text-primary;
    }

    .btn-secondary-outline {
        @apply btn border-blue-500 bg-transparent text-primary hover:bg-primary hover:text-white;
    }

    .btn-white {
        @apply btn border-white bg-white text-primary hover:bg-transparent hover:text-white;
    }

    .btn-gray-outline {
        @apply btn-base justify-center border-gray  bg-white text-black hover:bg-transparent;
    }

    .btn-icon {
        @apply flex h-10 w-10 items-center justify-center rounded border border-gray bg-white text-black transition-colors hover:border-primary hover:bg-transparent hover:text-primary;
    }

    .btn-sm {
        @apply py-2 px-3 max-lg:text-sm whitespace-nowrap lg:px-4;
    }

    .stretched-link::after {
        content: "";
        @apply pointer-events-auto absolute inset-0 z-10 bg-transparent;
    }

    .tab {
        @apply relative transition-colors;
        &:before {
            content: "";
            @apply absolute top-1/2 left-1/2 block w-full translate-y-4 -translate-x-1/2 rounded-full bg-primary opacity-0 transition-all;
            height: 2px;
        }
        &:focus,
        &:hover,
        &.current-menu-parent,
        &.is-active {
            @apply text-base;
            &:before {
                @apply opacity-100 translate-y-3;
            }
        }
    }


    .card {
        @apply rounded-lg border border-gray bg-white;
    }
}
