<footer class="bg-gray-800 text-white   min-h-20 py-8">
    <div class="container">
        <div class="flex justify-between">
            {% if logo_footer %}
                <img class="h-10" src="{{ logo_footer }}" alt="">
            {% endif %}
            <div class="text-sm">
                {{ options.footer_copyright }}
            </div>

        </div>

    </div>

</footer>
