body .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > :where(:not(.alignleft):not(.alignright):not(.alignfull):not(.alignwide)),
body .block-editor-block-list__layout.is-root-container > :where(:not(.alignleft):not(.alignright):not(.alignfull):not(.alignwide)),
body .editor-styles-wrapper .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull):not(.alignwide)), 
body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull):not(.alignwide)) {
    max-width: none;
}

body .editor-styles-wrapper .block-editor-block-list__layout.is-root-container .wp-block-group:where(:not(.alignleft):not(.alignright):not(.alignfull):not(.alignwide)),
.wp-block-group:where(:not(.alignleft):not(.alignright):not(.alignfull):not(.alignwide)) {
    max-width: none;
}

body .editor-styles-wrapper .block-editor-block-list__layout.is-root-container .alignwide,
.alignwide {
    @apply container max-w-screen-lg mx-auto;
}
body .editor-styles-wrapper .block-editor-block-list__layout.is-root-container .alignfull,
.alignfull {
    @apply container;
}

.wp-block-group.has-background {
    padding: 0;
}
