{#
/**
 * Block Name: Prose Block
 *
 */
#}

<section id="{{ id }}" class="prose max-w-none prose-h2:h2 prose-h3:h3 prose-h4:h4 prose-h5:h5 prose-h6:h6 prose-table:m-0 {{ class }} ">
    <InnerBlocks/>
</section>
