@theme {
  /* Fonts */
  --font-display: Roboto, Helvetica, Arial, sans-serif;
  --font-body: Roboto, Helvetica, Arial, sans-serif;

  /* Breakpoints */
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

}
