@theme {
  /* Fonts */
  --font-display: Roboto, Helvetica, Arial, sans-serif;
  --font-body: Roboto, Helvetica, Arial, sans-serif;

  /* Breakpoints */
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

/* Here set an auto dark mode for surfaces set in gutenberg editor if needed */

@theme inline {
  /* Surfaces */
  --surface-primary: #ffffff;
  --surface-primary-h1: var(--surface-primary);
  --surface-primary-h2: var(--surface-primary);
  --surface-primary-h3: var(--surface-primary);
  --surface-primary-h4: var(--surface-primary);
  --surface-primary-h5: var(--surface-primary);
  --surface-primary-h6: var(--surface-primary);
  --surface-primary-p: var(--surface-primary);
  --surface-primary-li: var(--surface-primary);
  --surface-primary-a: var(--surface-primary);
  --surface-primary-span: var(--surface-primary);
}

@variant dark {
  [class*="-background-color"] {
    --surface-light-bg: #030712;
    --surface-light: var(--color-white);
    --surface-secondary-bg: #020c1a;
    --surface-secondary: var(--color-white);
  }
}
